.alert-online-help p, .guider_content p { margin: 5px 0 10px 0; }
.alert-online-help h1, .guider_content h1 { font-size: 18px; line-height:20px; }
.alert-online-help h2, .guider_content h2 { font-size: 16px; line-height:20px; }
.alert-online-help h3, .guider_content h3 { font-size: 14px; line-height:20px; }
.alert-online-help hr, .guider_content hr { margin: 10px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
